body {
    background-color: #192a65;
}

#topper {
    background-image: url(josh_mccreary_getty_images_ovi895.jpg);
    background-size: cover;
    height: 850px;
    background-position: 10% 10%;
}

#header {
    font-size: 100px;
    padding: 10px 0px 45% 0px;
    color: #192a65;
    text-shadow: 2px 4px red;
    font-family: Rubik, sans-serif;
}

.subhead {
    text-align-last: center;
    font-family: Rubik, sans-serif;
}

#main-body {
    color: #ffffff;
    text-align: left;
    justify-content: center;
    margin-top: 40px;
    font-family: Merriweather, serif;
}

.attribution {
    color: #737373;
    text-align: center;
    font-size: 12px;
}

video {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

.pull-quote {
    color: #be221b;
    text-align: center;
    font-size: 50px;
}

.pq-att {
    color: #be221b;
    text-align: center;
    font-size: 27px;
}

#cover-attribution {
    color: #737373;
    font-size: 8.5px;
    text-align: right;
    margin-bottom: 0;
}

#disclaimer {
    font-size: 12px;
}

@media (min-width: 576px) {
    #header {
        font-size: 100px;
    }

    video {
        width: 100%;
    }
}
